@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black;
}

body {
  @apply h-full bg-black;
}

.gpr-main {
  position: absolute !important;
  top: 0px !important;
  left: 6rem;
  z-index: 10000000 !important;
}
